<div class="centered wrapper">
  <div class="contacts">
    <b>Contact us</b>
  </div>
  <div>
    <div class="form-wrapper">
      <div>
        Full Name <br>
        <input type="text">
      </div>
      <div>
        Email address <br>
        <input type="text">
      </div>
      <div class="form-message">
        Message <br>
        <textarea name="" id="" ></textarea>
      </div>
      <div class="form-button">
        <button>
          Send message
        </button>
      </div>
    </div>
  </div>
</div>